body {
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
}

a  {
    color: palevioletred;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

img {
    width: 600px;
    height: 300px;
    border-style: solid;
    border-width:5px;
    border-color: black;
}

h1 {
    font-size: 70px;
    font-weight: 700;
    color:olive;
    }

h2 {
    font-size: 40px;
    font-weight: 600;
    color:olive;
    }

    p {
        color: black;
        font-size: 30px;
    }
    
li {
    color: black;
    font-size: 30px;
    }

